@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin: 0 auto;
  width: 60vw;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.active {
  display: block;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ffffffff;
}

::-webkit-scrollbar {
  display: none;
}

.red {
  color: #bb0101;
}

.black {
  color: #000000;
}

.blue {
  color: #0e0aee;
}

body {
  margin: 0 auto;
  padding: 0;
  background: #f5f8f5b7;
  background: url("../images/blood.png");
  background-size: cover;
  font-weight: 600;
  font-family: 'Lora', serif;
}

body header {
  width: 100wv;
  height: 200px;
  background: #5A4999;
  color: #ffffffff;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

body header .img-microscope, body header .img-qrma {
  width: 200px;
  height: 120px;
  margin: 20px 30px 0 30px;
  border: 1px  black outset;
  border-radius: 8px;
  box-shadow: 7px 7px 12px 2px #242424;
  float: left;
}

body header .img-qrma {
  float: right;
}

body header .title {
  display: inline-block;
  line-height: 15px;
}

body header nav {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  float: left;
  position: absolute;
  bottom: 0;
}

body header nav button {
  width: 20%;
  float: left;
  height: 40px;
  padding: 0;
  cursor: pointer;
  background: #9fd1a8;
  border: none;
  font-weight: bolder;
  font-size: 16px;
  transition-duration: 0.2s;
  font-size: 12px;
}

body header nav button:hover {
  background: #7ebd7e;
  border-top: 3px solid #000000;
  border-radius: 10px 10px 0 0;
  transition-property: all;
  transition-duration: 0.2s;
}

body article {
  display: none;
  max-width: 80vw;
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  margin-bottom: 160px;
  min-height: 100%;
}

body article .carousel-gallery {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 10px 10px 26px 2px black;
}

body article ul {
  display: inline;
}

body footer {
  width: 100%;
  background-color: #5A4999;
  color: #ffffffff;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 200px) and (max-width: 876px) {
  header {
    width: auto;
  }
  header .img-microscope, header .img-qrma {
    display: none;
  }
  header nav {
    padding: 5px 0;
  }
  header nav button {
    padding: 5px 0;
  }
  article {
    display: none;
    max-width: 80vw;
    text-align: center;
    font-size: 20px;
  }
  article .videoPlayer {
    width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */