$violet: #5A4999;
$white: #ffffffff;
$black: #000000;
$grey: #242424;
$green: #9fd1a8;
$dark-green: #7ebd7e;
$light-violet: #e8f5e5b7;

.active{
 
    display: inline-block;
    
   
}


body {
    margin: 0 auto;
    background: $light-violet;
    
    header {
        width: 100wv;
        height: 260px;
        background: $violet;
        color: $white;
        margin: 0 auto;
        text-align: center;

        .img-microscope, .img-qrma {
            width: 200px;
            height: 120px;
            margin: 30px 30px 0 30px;
            border: 1px  black outset;
            border-radius: 8px;
            box-shadow: 7px 7px 12px 2px $grey;
            float: left;
        }

        .img-qrma {
            float: right;
        }

        .title {
            display: inline-block;    

            a {
                text-decoration: none;
                color: $white;
            }
        }

        nav {
            width: 100vw;
            margin: 12px 0;
            margin-bottom: 0;
            padding: 0;

            button {
                width: 20vw;
                float: left;
                height: 50px;
                padding: 8px 0;
                cursor: pointer;
                background: $green;
                border: none;
                font-weight: bolder;
                font-size: 16px;
                transition-duration: 0.2s;
                
                &:hover {
                    
                    background: $dark-green;
                    border-top: 3px solid $black;
                    border-radius: 10px 10px 0 0;
                    transition-property: border-top border-radius;
                    transition-duration: 0.2s;
                }
            }
        }
    }

    article {
        display: none;
        transition-duration: 1s;
        transition-delay: 1s;
    }

}